<template>
    <div class="fz-element" v-on:click="toggleCollapsed()">
        <h3>{{ title }} <small>(Click to toggle)</small></h3>
        <div v-if="!collapsed">{{ description }}</div>
    </div>
</template>

<script src="./Element.js"></script>
<style src="./Element.scss" scoped lang="scss"></style>
