<template>
    <div class="fz-home">
        <input v-model="inputNumberElements"/>
        <button v-on:click="addElementsInput()">Add elements</button>
        <br>"scope apply" if set in return: {{inputNumberElements}}
        <hr>
        <input v-model="inputTitleElements"/>
        <button v-on:click="changeElementTitles()">Change element titles</button>
        <br>No "scope apply" if not set in return: {{inputTitleElements}}
        <hr>
        <fz-element v-for="element in elements" :title="element.title"
                    :description="element.description"></fz-element>
        <div class="fz-element">Just a test for the scoped css</div>
    </div>
</template>

<script src="./Home.js"></script>
<style src="./Home.scss" lang="scss"></style>
